<div class="row">
  <% recipes.each do |recipe| %>
    <div class="col-md-4">
      <div class="card-deck">
        <div class="card" style="width:22rem">
          <%= link_to admin_recipe_path(recipe) do %>
            <div class="img">
              <%= image_tag recipe.image, class: "img-fluid w-100 h-200" if recipe.image.attached? %>
            </div>
          <% end %>
          <div class="card-body text-center">
            <div class="card_text_main">
              <%= link_to admin_recipe_path(recipe) do %>
                <p>
                  <% if recipe.user.profile_image.attached? %>
                    <%= image_tag recipe.user.profile_image, size: "70x70" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "70x70" %>
                  <% end %>
                  <%= recipe.user.name %>
                </p>
                <h5 class="card-title"><%= recipe.name %></h5>
              <% end %>
            </div>
            <p>
              <%= "#{recipe.post_comments.count} コメント" %>
              <%= "#{recipe.favorites.count} いいね" %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>