<div class="container">
  <div class="row my-3">
    <div class="col-md-7">
      <%= image_tag @recipe.image, class:"img-fluid w-100 w-sm-100 w-md-100 w-lg-100" if @recipe.image.attached? %>
    </div>
    <div class="col-md-5">
      <h1><%= @recipe.name %></h1>
      <div>
        <% if @user.profile_image.attached? %>
          <%= link_to image_tag(@user.profile_image, size: "100x100"), admin_user_path(@user.id) %>
        <% else %>
          <%= link_to user_path(@user.id) do %>
            <% image_tag("no_image", size: "100x100") %>
          <% end %>
        <% end %>
        <span class="h3"><%= @user.name %></span>
      </div>
      <p><%=simple_format(@recipe.comment) %></p>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-8">
      <h3>作り方</h3>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
      <%= link_to edit_admin_recipe_path(@recipe.id), class: "btn btn-success m-1" do %>
        <i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i>
      <% end %>
      <%= link_to admin_recipe_path(@recipe), method: :delete, class: "btn btn-danger m-1" do %>
        <i class="fa-solid fa-trash-can" style="color: #ffffff;"></i>
      <% end %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-12">
      <p><%=simple_format(@recipe.explanation) %></p>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-12">
      <p>コメント件数：<%= @recipe.post_comments.count %></p>
    </div>
      <% @recipe.post_comments.each do |post_comment| %>
        <div class="col-md-3">
          <%= image_tag post_comment.user.get_profile_image(70,70) %>
          <%= post_comment.user.name %>
        </div>
        <div class="col-md-6">
          <%= post_comment.comment %>
        </div>
        <div class="col-md-3">
          <%= link_to admin_recipe_post_comment_path(post_comment.recipe, post_comment), method: :delete do %>
            <i class="fa-solid fa-trash-can fa-2xl" style="color: #ca2e07;"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>