<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag @recipe.image, size: "550x400" if @recipe.image.attached?  %>
    </div>
    <div class="col-md-6">
      <h1><%= @recipe.name %></h1>
      <div>
        <% if @user.profile_image.attached? %>
          <%= link_to image_tag(@user.profile_image, size: "100x100"), admin_user_path(@user.id) %>
        <% else %>
          <%= link_to user_path(@user.id) do %>
            <% image_tag("no_image", size: "100x100") %>
          <% end %>
        <% end %>
        <span class="h3"><%= @user.name %></span>
      </div>
      <p><%=simple_format(@recipe.comment) %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <h3>作り方</h3>
      <p><%=simple_format(@recipe.explanation) %></p>
    </div>
    <div class="col-md-3">
      <%= link_to "編集", edit_admin_recipe_path(@recipe.id) %>
      <%= link_to "削除", admin_recipe_path(@recipe), method: :delete %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>コメント件数：<%= @recipe.post_comments.count %></p>
    </div>
      <% @recipe.post_comments.each do |post_comment| %>
        <div class="col-md-3">
          <%= image_tag post_comment.user.get_profile_image(70,70) %>
          <%= post_comment.user.name %>
        </div>
        <div class="col-md-6">
          <%= post_comment.comment %>
        </div>
        <div class="col-md-3">
          <%= link_to "削除", admin_recipe_post_comment_path(post_comment.recipe, post_comment), method: :delete %>
        </div>
      <% end %>
    </div>
  </div>
</div>