<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag @recipe.image, size: "550x400" if @recipe.image.attached?  %>
    </div>
    <div class="col-md-6">
      <h1><%= @recipe.name %></h1>
      <div>
        <% if @user.profile_image.attached? %>
          <%= link_to image_tag(@user.profile_image, size: "100x100"), user_path(@user.id) %>
        <% else %>
          <%= link_to image_tag(no_image, size: "100x100"), user_path(@user.id) %>
        <% end %>
        <span class="h3"><%= @user.name %></span>
      </div>
      <p><%=simple_format(@recipe.comment) %></p>
      <div class="row">
        <div class="col-md-6">
          <div class="comment-create">
	          <%= render partial: 'public/post_comments/form', locals: { post_comment: @post_comment, recipe: @recipe } %>
	        </div>
        </div>
        <div class="col-md-6">
          <div id="favorite_buttons_<%= @recipe.id %>">
            <%= render "public/favorites/favorites", recipe: @recipe %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <h3>作り方</h3>
      <p><%=simple_format(@recipe.explanation) %></p>
    </div>
    <div class="col-md-3">
      <% if @recipe.user == current_user %>
      <%= link_to "編集", edit_recipe_path(@recipe.id) %>
      <%= link_to "削除", recipe_path(@recipe), method: :delete %>
      <% end %>
    </div>
  </div>
  <div id="comments_area">
    <%= render partial: 'public/post_comments/index', locals: { recipe: @recipe } %>
  </div>
</div>
