<div class="container my-3">
  <div class="row">
    <div class="col-md-7 mb-3">
      <%= image_tag @recipe.image, size: "650x400" if @recipe.image.attached? %>
    </div>
    <div class="col-md-5">
      <h1><%= @recipe.name %></h1>
      <div>
        <% if @user.profile_image.attached? %>
          <%= link_to image_tag(@user.profile_image, size: "100x100"), user_path(@user.id) %>
        <% else %>
          <%= link_to user_path(@user.id) do %>
            <% image_tag("no_image", size: "100x100") %>
          <% end %>
        <% end %>
        <span class="h3"><%= @user.name %></span>
      </div>
      <p><%=simple_format(@recipe.comment) %></p>
      <div class="comment-create">
        <%= render 'public/post_comments/form', post_comment: @post_comment, recipe: @recipe %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <h3>作り方</h3>
    </div>
    <div class="col-md-4">
      <div id="favorite_buttons_<%= @recipe.id %>">
        <% unless current_user.id == @recipe.user_id %>
          <%= render "public/favorites/favorites", recipe: @recipe %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3 d-flex justify-content-end">
      <% if @recipe.user == current_user %>
        <%= link_to edit_recipe_path(@recipe.id), class: "btn btn-success mx-1" do %>
          <i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i>
        <% end %>
        <%= link_to recipe_path(@recipe), method: :delete, class: "btn btn-danger mx-1" do  %>
          <i class="fa-solid fa-trash-can" style="color: #ffffff;"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <p><%=simple_format(@recipe.explanation) %></p>
  </div>
  <div class=row>
    <div id="comments_area">
      <%= render 'public/post_comments/index', recipe: @recipe %>
    </div>
  </div>
</div>
