<div class="container my-3">
  <div class="row">
    <div class= "col-md-6">
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image, size: "100x100" %>
      <% else %>
        <%= image_tag 'no_image', size: "100x100" %>
      <% end %>
      <span class="h3"><%= @user.name %></span>
    </div>
    <div class= "col-md-2">
      <p>フォロー数: <%= @user.followings.count %></p>
      <p>フォロワー数: <%= @user.followers.count %></p>
    </div>
    <div class= "col-md-2">
      <% unless current_user.id == @user.id %>
        <% if current_user.following?(@user) %>
          <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(@user.id), method: :post %>
        <% end %>
      <% end %>
    </div>
    <div class= "col-md-2">
      <% if @user == current_user %>
        <%= link_to edit_user_path(@user.id), class: "btn btn-success" do %>
          <i class="fa-solid fa-user-pen" style="color: #ffffff;"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class= "col-md-12">
      <p><%=simple_format(@user.introduction) %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>投稿レシピ一覧</h2>
      <%= render "public/recipes/recipe_all", recipes: @recipes %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= paginate @recipes, class: "pagination" %>
    </div>
  </div>
</div>